<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../static/header.css">
    <title>Add Subtask</title>
</head>
<body>

<h1>New Subtask</h1>
<div th:replace="tempheader :: tempheader">...</div>
<form method="post" th:action="@{/tasks/sub/create}" th:object="${subtask}">

    <div>
        <input  type="hidden" th:field="*{id}">
        <label for="title" th:text="#{title}"></label>
        <input type="text" th:field="*{title}">

        <p th:errors="*{title}"></p>
    </div>

    <div>
        <label for="description" th:text="#{Description}"></label>
        <input type="text" th:field="*{description}">
        <p th:errors="*{description}"></p>
    </div>
    <input type="submit" value="Submit">
</form>

</body>
</html>
