<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.com">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="header.css">

    <title>Detail</title>
</head>
<body>
<h1>Task detail</h1>
<div th:replace="tempheader :: tempheader">...</div>

<div th:if="not ${task != null}">
    <p>Task not found</p>
</div>
<div th:if="${task != null}">
    <p>Titel: <span th:text="${task.title}"></span></p>
    <p>description: <span th:text="${task.description}">></span></p>
    <p>date: <span th:text="${task.datetime}">></span></p>
   <!--<p>date: <span th:text="${task.subTasks[0].title}">></span></p>-->

    <div th:if="${#lists.isEmpty(task.subTasks)}">
        <p>No subtask tasks left to do</p>

    </div>
    <div th:if="${not #lists.isEmpty(task.subTasks)}">
        <ul th:each="subtask: ${task.subTasks}">
            <li> <p th:text="${subtask.title +': due ' + subtask.description}"></p>  </li>
        </ul>
    </div>




</div>

</body>
</html>