<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.com">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../static/header.css">

    <title>Detail</title>
</head>
<body>
<h1>Task detail</h1>
<div th:replace="tempheader :: tempheader">...</div>

<div th:if="not ${task != null}">
    <p th:text="#{Tasknotfound}"></p>
</div>
<div th:if="${task != null}">
    <p th:text="#{title} + ': ' + ${task.title}"> </p>
    <p th:text="#{Description} + ': ' + ${task.description}"> </p>
    <p th:text="#{Duedate} + ': ' + ${task.datetime} "></p>
   <!--<p>date: <span th:text="${task.subTasks[0].title}">></span></p>-->

    <div th:if="${#lists.isEmpty(task.subTasks)}">
        <p th:text="#{Nosubtasktaskslefttodo}"></p>

    </div>
    <div th:if="${not #lists.isEmpty(task.subTasks)}">
        <ul th:each="subtask: ${task.subTasks}">
            <li> <p th:text="${subtask.title +': due ' + subtask.description}"></p>  </li>

        </ul>
    </div>




</div>

</body>
</html>
