<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.com">
<head>
    <link rel="stylesheet" type="text/css" href="header.css">
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>
<h1>Tasks</h1>

<div th:replace="tempheader :: tempheader">...</div>


<div th:if="${#lists.isEmpty(Tasks)}">
    <p>No tasks left to do</p>

</div>
<div th:if="${not #lists.isEmpty(Tasks)}">
    <ul th:each="task: ${Tasks}">
        <li> <p th:text="${task.title +': due ' + task.datetime}"></p>  </li>
    </ul>
</div>

</body>
</html>