<link rel="stylesheet" type="text/css" href="../static/header.css" xmlns:th="http://www.w3.org/1999/xhtml">
<div th:fragment="tempheader">
    <header>
        <div class="topnav">
            <a class="active" href="/tasks/"  th:text="#{home}"></a>
            <a href="/tasks/new" th:text="#{new}" ></a>
            <a href="/tasks/?lang=nl" th:text="nl" ></a>
            <a href="tasks/?lang=en" th:text="en" ></a>
            <a href="/logout" th:text="#{logout}" ></a>
        </div>
    </header>
</div>

